* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Your styles begin here */

.container {
    margin: 20px;
    max-width: 70%;
}

ul {
    margin-left: 20px;
    margin-top: 10px;
}

.pokeimage {
    max-width:70%;
    position:relative;
}

.container div {
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 10px;
}

th, td {
    padding: 10px;
    border: 1px solid lightgray;
}

table {
    margin-top: 10px;
}

.container p {
    margin-top: 10px;
}

.dismiss {
    position: relative;
    width: 100%;
    bottom: 10px;
    text-align: center;
    margin-top: 20px;
}

.evolution-link {
    color: blue;
    cursor: pointer;
}