<!DOCTYPE html>
<html>
    <head>
        <title>Pokedex</title>

        <!-- For this page, your styles will be in /static/css/index.css -->
        <!-- Do NOT use a CSS library or framework like Bootstrap - practice writing CSS first -->
        <link type="text/css" rel="stylesheet" href="/static/css/detail.css" />

        <!-- jQuery is already downloaded and installed for you -->
        <!-- In order to use jQuery in your JavaScript, this file needs to be added BEFORE your custom JavaScript -->
        <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    </head>
    <body>
        <!-- Your HTML should be here -->


        <div class="container">
            <h1 class="pokename"></h1>
            <img class="pokeimage" src="" />
            <div>
                <h2>Description</h2>
                <p class="pokedescription"></p>
            </div>

            <div>
                <h2>Type(s)</h2>
                <ul class="typelist">
                </ul>
            </div>       

            <div>
                <h2>Evolution(s)</h2>
                <table class="evolution-table">
                    <tr>
                        <th>Name</th>
                        <th>Level</th>
                        <th>Method</th>
                    </tr>
                </table>
            </div>
            <div class="dismiss">
                <a href="/">Click to return.</a>
            </div>
            
        </div>



        <!-- Your HTML should end here -->
        <!-- Something is missing here in order for your JavaScript to work. What do you need to add? -->
        <script type="text/javascript" src="/static/js/detail.js"></script>
    </body>
</html>